*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 50px;
    background: rgb(0,0,0);
    background: linear-gradient( rgba(0,0,0,1) 36%, rgba(44,130,80,1) 77%, rgba(1,221,21,1) 100%);
}
header, footer {
    height: 100px;
    color: #ffffff;
    display: grid;
    grid-template-columns: auto 1fr 20fr;
    align-items: center;
    justify-content: start;
    padding: 0 20px;

}


header {
    grid-column: 1 / -1 ;
    gap: 24px;
    color: #ffffff;
    padding-left: 75px;
    justify-content: start;
}

header span {
    font-weight: 600;
}
a{
    color: greenyellow;
    font-size: larger;
}
main{
    display: grid;
    grid-template-rows: 100% 1fr 100%;
    justify-content: center;
    place-items: center;
} 


.background-logo{
    position: absolute;
    width:80%;
    max-height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.background-relampago{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    max-height: 100%;
    max-width: 100%;
}
.content-text{
    position: absolute;
    color: #FFFFFF;
    font-size: 2.5rem;
    width: 240px;
    transform: translateX(-100%);
    text-align: end;
}
.content-image {
    height: 80vh;
    margin-top: -50%;
    margin-bottom: -25%;
    max-width: 110%;
    max-height: 100%;
}

footer{
    display: grid;
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;
    place-items: center;
    padding-right: 75px;
    padding-left: 75px;
    color: #FFFFFF;
    font-weight: 100;
}
footer div{
    width: 64px;
}
@media(max-width:768px) {
    header {
        padding-left: 25px;
    }
    .content-text{
        transform: translateX(0%);
        top: 80px;
        font-size: 1rem;
        width: 100px;
        text-align: center;
    }
    .content-image{
        height: 60vh;
    }
    footer {
        padding: 0px 25px;
    }
}